<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bg-color">
      <p>App App</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <img src="assets/01-(16+512GB)-Storm-White-1-square_medium.jpg" alt="ROG Phone 7">
        </ion-col>
        <ion-col>
          ROG Phone 7<br>
          ราคา 21,000 บาท
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
